In [35]:
# read in the data here
import pandas as pd
import numpy as np
from pandas import DataFrame
import os
df = pd.read_csv('../data/chrom_11_clean.csv', )
df

,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1346,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1347,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1348,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1349,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
X = df.values

In [40]:
from sklearn.decomposition import PCA
n=X.shape[0]
p=X.shape[1]
ncausal_SNPs=30

## Normalize genotype data:
Xmean= np.mean(X, axis=0) #mean of each column, which corresponds to a SNP locus
Xstd= np.std(X,axis=0) #standard deviation of each column
X=np.nan_to_num((X-Xmean)/Xstd) # Standardized genotype matrix based on means and standard deviations
# of each SNP locus. This is the final X. I use np.nan_to_num in case we get NaN values due to 
# 0 division, i.e. if everything in a column is 0, the mean and standard deviation will also be 0, 
# then we will get NaN values. np.nan_to_num turns NaNs into "0"s. This seemed like a good idea to me

<ipython-input-40-8dc6bbe370c0>:9: RuntimeWarning: invalid value encountered in true_divide
  X=np.nan_to_num((X-Xmean)/Xstd) # Standardized genotype matrix based on means and standard deviations

In [42]:
H2= 0.8 #80% of phenotypic variation is explained by genotype (heritability)
rho= 1 #100% of H^2 is explained by additive effects 

causal_SNPs_list = []
random_states_list = [1,11,112]
y_list = []

for i in range(0,3):
    random_state = random_states_list[i]
    causalSNPs=np.random.randint(low=0, high=10000, size=ncausal_SNPs)
    causal_SNPs_list.append(causalSNPs)
    Xadditive=X[:, causalSNPs] #the values for causal SNPs.
    betaAdd= np.repeat(1, ncausal_SNPs)#additive effect sizes initializes as "1"
    y_additive=np.dot(Xadditive, betaAdd) #initialize the value of the portion of phenotypic variation
    # caused by the additive effects as XB.
    betaAdd= betaAdd * np.sqrt(H2*rho/np.var(y_additive)) #Update additive effect sizes based on H^2, rho, and variation
    #in y_additive.
    y_additive=np.dot(Xadditive, betaAdd) #final value of y_additive, updated.
    y_additive=y_additive.reshape(n,1)
    y_noise = np.random.normal(size=n)
    y_noise = y_noise * np.sqrt((1 - H2-0.1) / np.var(y_noise))
    y_noise=y_noise.reshape(n,1)

    y = y_additive + y_noise #np.add(y_additive.reshape(n, 1), y_noise.reshape(n, 1), y_PC, y_epi.reshape(n, 1))
    y_list.append(y)
    # np.savetxt("timing/X_1000_1000.csv", X, delimiter=",")

In [74]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, accuracy_score, fbeta_score
from sklearn.model_selection import ParameterGrid
from sklearn.metrics import log_loss
from sklearn.metrics import precision_score, recall_score, accuracy_score, fbeta_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import statistics

In [75]:
X_trains = []
X_tests = []
y_trains = []
y_tests = []
for i in range(0,3):
    X_train, X_test, y_train, y_test = train_test_split(X,y_list[i],test_size = 0.2, random_state=112)
    #y_train = y_train.reshape(-1,1)
    #y_test = y_test.reshape(-1,1)
    X_trains.append(X_train)
    y_trains.append(y_train)
    X_tests.append(X_test)
    y_tests.append(y_test)

In [76]:
clf = RandomForestRegressor(n_estimators=100,max_depth=30,random_state=112)
clf.fit(X_trains[0],y_trains[0])

<ipython-input-76-12ac1829bf51>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_trains[0],y_trains[0])

RandomForestRegressor(max_depth=30, random_state=112)

In [78]:
y_preds_1 = clf.predict(X_tests[0])

In [79]:
y_preds_1

array([-0.35051613, -0.1938484 , -0.37275632,  1.39358634, -0.08542554,
       -0.15766576, -0.71454069, -0.12424734, -0.23411722, -0.4968749 ,
        0.66385013,  0.36860667,  0.26644805, -0.69086835,  0.2800884 ,
       -0.81723968,  0.38314932,  0.62413684,  0.17702072, -0.06957111,
        0.4685548 ,  0.80298139, -0.6820792 , -0.42423175, -0.29771865,
        0.03992219,  0.33756828, -0.34691656, -0.73281818,  0.42245365,
       -0.51856676, -0.41291133, -0.37585263,  1.48471915,  1.13098465,
        0.56142139,  1.37927007, -0.30810007, -0.02974392, -0.29330936,
       -0.07069375, -0.36175083, -0.37387502, -0.28568778, -0.33708043,
       -0.68138409,  0.41371924, -0.32529278,  0.03931023, -0.17113523,
       -0.03728017, -0.0772031 , -0.13019436, -0.13689651, -0.61352603,
        0.83066629, -0.13107476, -0.32493661, -0.09095916, -0.06391949,
       -0.02391122, -0.1413972 ,  0.91414202, -0.65630648, -0.23041476,
       -0.05801104, -0.1740946 , -0.57145216,  0.27019669,  0.67237061,
        0.27478621, -0.92178488, -0.46661026, -0.71006059,  0.41865758,
       -0.09551266, -0.09740981, -0.4147795 , -0.73171685,  0.50688226,
       -0.27345483, -0.19175111, -0.60913533, -0.19550116,  0.30381104,
       -0.06847986, -0.31401395,  0.00903254,  0.23555426, -0.29242189,
       -0.12225665,  1.38620241,  0.2862561 ,  0.08846426, -0.08689668,
       -0.25862928,  1.16999937,  0.00565532, -0.30846178, -0.32974323,
        1.39338133,  0.22681171, -0.41716998,  0.26877353, -0.37156184,
       -0.261105  ,  0.11060192, -0.27499457, -0.33323768, -0.46603383,
       -0.32545593, -0.53842741, -0.26643545,  0.25245162,  0.30334639,
       -0.14136942, -0.5697643 , -0.32592141, -0.25016169, -0.34744359,
       -0.31347565,  1.71825759,  0.28703132,  0.0806727 , -0.43978231,
        0.15935731, -0.43538607, -0.59097159,  0.09407331, -0.10734728,
       -0.15234313,  0.02144713, -0.0581994 , -0.08566996,  0.39710813,
       -0.59980323, -0.65055081,  1.33116974, -0.38138882, -0.66240773,
       -0.74320929, -0.68460262, -0.33375276, -0.53028428, -0.53840155,
       -0.36113349, -0.05443156, -0.09469549,  0.13998972, -0.2307198 ,
       -0.2741526 , -0.10193253, -0.18460491, -0.10394001, -0.17610744,
       -0.7717341 , -0.14571418, -0.23872208, -0.82331668,  0.93161917,
       -0.05271391, -0.08409681,  0.23848737, -0.70390358,  0.0629536 ,
       -0.16374304, -0.25855527, -0.11247546, -0.37400412, -0.59273478,
       -0.82173665, -0.06305576,  0.21801146, -0.69946843,  0.09472977,
       -0.03137496,  0.11198944, -0.7812561 , -0.31841132, -0.32078221,
       -0.54439407, -0.06283817,  0.51824741,  0.13136678, -0.27878439,
       -0.09681371, -0.40811719, -0.06159646,  1.42640236, -0.29152212,
       -0.24003375, -0.70511323, -0.92223498, -0.82492732, -0.56165723,
       -0.17055039, -0.38994434, -0.22597897, -0.45291654, -0.43648964,
       -0.39723788, -0.34798075, -0.52427952,  1.50966422,  1.36722382,
        0.45797239, -0.80237403, -0.14066667, -0.36866455,  0.19411689,
       -0.95938818, -0.15629795, -0.21335731, -0.31759918,  0.14765702,
       -0.06440698, -0.22899627, -0.74192764, -0.27817713, -0.46953741,
       -0.75122705, -0.3036681 , -0.74527805,  0.39356196,  0.21616405,
       -0.41861132, -0.81310819, -0.25730336, -0.02362286, -0.33285233,
       -0.34514038, -0.29366624, -0.14792022, -0.44234176, -0.75755549,
        1.09303408,  0.12791703,  0.34954059, -0.29952349,  0.91553083,
       -0.92433212,  1.18081005, -0.16133169, -0.50191327, -0.27648177,
       -0.45616709,  1.38168939, -0.39848133, -0.37803301, -0.01059299,
        0.36912306, -0.60096693, -0.35713763, -0.83680285, -0.29819737,
       -0.21899481,  0.24960824, -0.42558867,  0.95467735, -0.37974574,
       -0.06150438, -0.37858049, -0.24646257,  0.30039787, -0.34707989,
       -0.3002097 , -0.81635255, -0.08985259, -0.12883473,  0.02329247])

In [82]:
feature_importances = clf.feature_importances_

In [87]:
len(feature_importances)

10000

In [94]:
all_snps = np.array(list(range(0, 10000)))

In [95]:
data={'feature_names':all_snps,'feature_importance':feature_importances}
fi_df = pd.DataFrame(data)
fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)
fi_df

      feature_names  feature_importance
3112           3112            0.200391
8984           8984            0.027190
8773           8773            0.027008
8988           8988            0.022929
6021           6021            0.019628
...             ...                 ...
5860           5860            0.000000
2538           2538            0.000000
2540           2540            0.000000
5857           5857            0.000000
5000           5000            0.000000

[10000 rows x 2 columns]

In [103]:
causal_SNPs_1 = np.sort(causal_SNPs_list[0])
causal_SNPs_1

array([ 250, 1557, 1680, 1777, 2160, 2191, 3013, 3498, 3609, 4236, 4585,
       5589, 5675, 5842, 6021, 6422, 6486, 6831, 7555, 7582, 8179, 8286,
       8773, 8848, 8984, 8988, 9398, 9741, 9862, 9879])

In [108]:
top_features1 = fi_df['feature_names']
top_features1 = np.array(top_features1[0:30])
top_features1 = np.sort(top_features1)
top_features1

array([ 231,  584,  669,  911, 1187, 1262, 1507, 1802, 2191, 2700, 3013,
       3112, 3216, 3609, 4585, 5675, 5753, 5922, 6021, 6422, 6532, 6831,
       7555, 8526, 8773, 8984, 8988, 9802, 9862, 9879])

In [109]:
list(set(top_features1).intersection(causal_SNPs_1))

[7555,
 3013,
 6021,
 8773,
 9862,
 4585,
 5675,
 2191,
 6831,
 6422,
 9879,
 8984,
 3609,
 8988]